@charset "UTF-8";

:root {
  --myGreen: #f7ffde;
  --myOrange: #fc553b;
}


* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  text-decoration: none;
  list-style:none;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  
}
a{
  color:var( --myOrange);
}
h1{
  font-weight: 600;
}


header {
    height: 70px;
    width: 100%;
    background-color: var(--myGreen);
    position:fixed;
    z-index:1;
    top:0px
  }
  
.header-left{
    position:absolute;
    line-height:70px;
    margin-left:40px;
  }

.header-title{
    color:var(--myOrange);
    letter-spacing:-0.5px;
    font-weight: 600;
    cursor: pointer;
  }

nav {
  position:absolute;
  right:110px;
}

nav a{
  color:var(--myOrange);
  font-weight:600;
  letter-spacing:-0.5px;
  font-size: 1.2rem;
  line-height: 70px;
  
}  

nav ul{ 
 
  } 

nav ul li{
  display: inline-block;
  
}
.nav-link{
  margin-right:7px
}

.lang{
position:absolute;
right:40px;

}

.lang a{
  color:var(--myOrange);
  margin-right:-3px;
  line-height: 70px;
  display: inline-block;
  font-weight:600;
  letter-spacing:-0.5px;
  font-size: 1.2rem;
  

}

.nav-link:hover{
  color: #e80000;
}

.lang:hover{
  color: #e80000;
}

.fa.fa-bars.menu-icon{
  display:none;
}

#EN{
}

#JP{

}

#divider{

}

.nav-toggle {
display:none;  
}
.welcome {
  color:rgb(252, 85, 59);
  width:40%;
  min-width:400px;
  height: 20%;
  margin-top:15%;
  margin-left:auto;
  margin-right:auto;
  border:40px solid  var(--myGreen);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20%;
  padding-top:2%;
  margin-bottom:10%;
  font-weight: 600;
  
}

.welcome h1{
  font-size:3.5em;
  line-height: 120%;
  font-weight: 600;

}

.welcome h2{
  font-size:auto;
  line-height: 120%;
  font-weight: 600;
  

}

.welcome h1 span{
  font-size:1.1em;
  
}

#projects {
  color:var(--myOrange);
  background-color:var(--myGreen);
  height: auto;
  
  
}

#projects h1{
  font-size:3em;
  letter-spacing:-2px;
  width:100%;
  padding-top:60px;
  text-align: center;
  font-weight:600;
}

.project-wrapper {
  padding-top:20px;
  padding-bottom:30px;
}

.project-tile{
  width:80%;
  height:400px;
  background-color: #fc553b;
  color:#f7ffde;
  margin-top:20px;
  
}

#about {
  height:auto;
}

.about-wrapper {
  padding-top:100px;
  padding-bottom:30px;
  width:80%;
}

#about h1{
  font-size:3em;
  letter-spacing:-2px;
  color:var(--myOrange);
  font-weight:600;
}

#about p{
  font-size:1.7em;
  letter-spacing:-0.5px;
  color:var(--myOrange);
  font-weight:400;
}

quotes {
  font-size:1.7em;
  font-style:italic;
  color:darkcyan;
  font-weight:400;
}

footer {
  background-color:var( --myOrange);
  text-align: right;
  color:var( --myGreen);
  padding: 10px 20px;
}

@media screen and (max-width: 680px) {

  .header-title{
    letter-spacing:-0.5px;
    font-size:1.7em;
  }

 .header-left{
  margin-left:20px;
 }

  nav {
    background-color:var(--myGreen);
    top:70px;
    right:0px;
    width:100%;
    text-align:center;
    /* display:none; */
    transform:scale(1,0);
    transition:transform 200ms ease-in-out;
    transform-origin: top;
    
    
  }

  nav ul li{
    display: block;
    
  }

  nav a{
    line-height:40px;
    opacity:0;
    
    
  }

  .nav-toggle:checked ~ nav{
    /* display:block; */
    transform:scale(1,1);
   
    
  }


  .nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 200ms ease-in-out 250ms;
    
  }

  .lang{
    margin-right:40px;
  }

  .fa.fa-bars.menu-icon{
    display:inline;
    float:right;
    line-height:70px;
    margin-right:20px;
    font-size:28px;
    color:var(--myOrange);
    cursor: pointer;
  }
  
.welcome {
    font-size: 70%; 
    height: 15%;
    min-width:300px;
    border:30px solid  var(--myGreen);
    margin-top:100px;
  }
  #projects h1{
    font-size:2em;
    
  }
  
  #about h1{
    font-size:2em;
    
  }
  
  #about p{
    font-size:1.2em;
    
  }
  
  quotes {
    font-size:1.2em;
    
  }
  
  footer {
    text-align: center;
    padding: 10px 20px;
  }

  
}
